  <div class="col-md-12 mb-3">
    <div class="card h-100 w-100 mb-3 text-center">
      <div class="card-header bg-dark text-light">
        <h5>{{{blogPost.user.username}}}</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{blogPost.title}}</h3>
        <p class="card-text fs-5">{{blogPost.body}}</p>
      </div>
      <div class="card-footer text-body-secondary bg-dark text-light">
        <h6>{{blogPost.createdAt}}</h6>
      </div>
    </div>
  </div>

  {{#if blogPost.comments}}

  <div class="card h-100 w-100 mb-3 text-center">
    <div class="card-header  bg-dark text-light">
      <h3>Comments</h3>
    </div>

    <div class="d-grid gap-2">
      {{#each blogPost.comments}}
        <div class="card-body">
          <p class="card-text fs-5">
          {{body}}
          </p>
          <div class="card-footer text-body-secondary bg-dark text-light">
            <h6>{{createdAt}}</h6>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="card mt-3 w-100 text-center">
    <div class="card-header bg-dark text-light">
      <h3>Add a Comment..</h3>
    </div>

    <div class="card-body">

    <form id="comment-form">
      <input type="hidden" name="blogPost-id" value="{{blogPost.id}}" />

    <div class="row">
      <label class="form-label fs-3" for="comment-content"></label>
      <textarea name="comment-content" class="form-control-lg fs-4" rows="3"></textarea>
    </div>

    <div class="d-grid gap-2 pt-4">
      <button type="submit" id="submit-btn" class="btn btn-outline-secondary fs-5">Submit</button>
    </div>
    </form>
    </div>

  </div>

<script src="/js/comment.js"></script>